@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: greenyellow!important;
    font-family: 'Bungee Inline', cursive!important;
    transition: all 0.5s ease-in-out;

}

body.scrolly {
    background-color: royalblue!important;
    h2 {
        color: white;
    }
}


.active {
    display: flex;
}

.disabled {
    display: none;
}


nav {
    background-color: #e3f2fd;
}


.btn1 {
    margin-right: 500px!important;
}


h2 {
    margin-top: 100px!important;
   
}


.section1 {
  
    display: flex;
    width: 100%;
    height: 285px;
    overflow-x: auto;
    background-color: purple;

}


#example2 {
    padding: 0 10px 0 20px;
}

.poster {
    background-color: red;
}

article {
    margin-left: 20px;
}

#section {
   background-color: yellow;

}

.imgMagie {
    width: 200px;
    height: 300px;
}


.imgMovies {
    width: 200px;
    transition: 0.5s; 
}

.imgMovies:hover {
     transform: scale(1.2);
}

@import '../../node_modules/bootstrap/scss/bootstrap.scss'